[submodule "auth/project_control"]
	path = auth/project_control
	url = https://github.com/Mubinabd/project_control.git
[submodule "project_control/project_control"]
	path = project_control/project_control
	url = https://github.com/Mubinabd/project_control.git
[submodule "control-api/project_control"]
	path = control-api/project_control
	url = https://github.com/Mubinabd/project_control.git
